.App-container {
  background-color: #fff9f9;
  min-height: 100vh;
}

/* ----------------- AJUSTES PARA O MATERIALIZE ----------*/
nav {
  background-color: #FFF !important;
  box-shadow: 0px 3px 6px #00000045;
  height: 64px !important;
}

nav .nav-wrapper{ padding-top: 5px; }

.btn, .btn-large, .btn-small{
  background-color: #32a865;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}

.btn:hover, .btn-large:hover, .btn-small:hover{   background-color: #265753 !important  }

.btn-flat{  font-weight: 500  }

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:40%;  
}

.link{  text-decoration: underline }

.material-icons{
  margin-right: 6px;
  margin-left: 6px;
}
.card-content{  padding: 15px   }
.click {   cursor: pointer   }

.pagination li a {
  font-size: 20px;
}
.pagination li i {  
  color: #009688; 
  font-size: 35px;
  font-weight: 700;
}
.pagination li.active { background-color: #32a865 }
.pagination li.disabled i {  color:grey !important;  }

.modal.preloader-modal{
  width: 30%;
  text-align: center;
  overflow: hidden;
  border-radius: 30px;
}
.modal.preloader-modal .modal-footer{
  display: none !important;
}
.modal.preloader-modal h4 {
  display: none !important;
}

.collection-header h4{
  font-size: 1.5rem;
  line-height: 110%;
  margin: 1.2rem 0 1rem 0;
}

.rating{
  margin-left: 10px;
}

/*----------------- Cores de fontes----------------------- */
.darktxt {  color: #265753 !important; }

/* ------------------------Tamanhos de fontes --------------*/
.s12{ font-size: 12px !important;  }
.s13{ font-size: 13px !important;  }
.s14{ font-size: 14px !important;  }
.s15{ font-size: 15px !important;  }
.s16{ font-size: 16px !important;  }
.s17{ font-size: 17px !important;  }
.s18{ font-size: 18px !important;  }
.s19{ font-size: 19px !important;  }
.s20{ font-size: 20px !important;  }

.f600{  font-weight: 600; }
.f700{  font-weight: 700; }
/* ----------- SOMBRA ---------------*/
.s-cinemate {    box-shadow: 0px 0px 12px #3edd82; }

/*------------- PADDINGS E MARGENS -----------*/
.pad0 {  padding: 0px !important;}
.pad1 { padding: 1rem !important}
.pad1_5 { padding: 1.5rem !important}
.pad2 { padding: 2rem !important}
.mb0   { margin-bottom: 0px !important;}